
.error-cont{
    display: flex;
    width: 340px;
    justify-content: start;
    align-items: center;
    position: fixed;
    border-radius: 15px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.418);
    z-index: 101;
    left : 2%;
}

.error-message{
    font-size : var(--fs-sm);
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5em;
}

.error-icon{
    font-size: var(--fs-base);
    padding: 0.5em 0px 0.2em 0px ;
    margin-left: 0.5rem;
}

@media (max-width : 425px){
    .error-icon{
        font-size: var(--fs-sm);
        padding: 0.3em 0px 0.1em 0px ;
    }
    .error-message{
        font-size: var(--fs-esm);
        padding: 0.3em;
    }
    .error-cont{
        width:240px ;
    }
}
