.main-habit-cont{
    height: 100vh;
    overflow-y: auto;
}

.habit-data-cont {
    margin-top: clamp(6rem, 10vw, 12rem);
    padding: 0px clamp(0.5rem, 5vw, 4rem);
}

.habit-data-name {
    font-size: var(--fs-xl);
    margin-block: clamp(0.5rem, 2vmin, 3rem);
    text-transform: capitalize;
}

.habit-data-desc {
    font-size: var(--fs-base);
    font-weight: 600;
    padding: .3em .6em;
    height: clamp(150px, 2vw, 650px);
    max-width: 1500px;
    background-color: #e6e6e610;
    border-radius: 20px;
    word-spacing: 3px;
    overflow-y: auto;
}

.habit-data-created-date {
    font-weight: bold;
    display: flex;
    font-size: var(--fs-sm);
    margin-block: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}

.habit-data-curr-score {
    font-size: var(--fs-md);
    display: flex;
    justify-content: flex-end;
    margin-block: 1rem;
}

.habit-data-curr-score>span {
    display: flex;
}


.habit-data-graph-cont {
    /* background-color :#e6e6e6; */
    min-width: 290px;
    position: relative;
    border-radius: 20px;
    margin: clamp(1.5rem, 5vmin, 3rem) auto;
}

.habit-page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #e6e6e610;
    backdrop-filter: blur(3px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.reload-btn {
    background-color: #e6e6e600;
    border: none;
    font-size: 2rem;
    padding: .5em;
    cursor: pointer;
}

.graph-cont {
    height: clamp(250px, 6vmin, 600px);
}