.hfull {
    height: 100vh;
    overflow: auto;
}

.main-habits-cont {
    width: 95%;
    max-width: 1900px;
    min-width: 300px;
    margin: clamp(4rem, 13vw, 6.5rem) auto 0px auto;
    position: relative;
    padding: 0px 1.5rem;
}

.your-habits-title {
    color: #0a1931;
    color: rgba(230, 230, 230, 0.5);
    font-size: var(--fs-3xl);
    transition: all 0.5s;
}

#addHabitBtn,
#todayScheduleBtn {
    display: flex;
    font-size: var(--fs-base);
    font-weight: bold;
    padding: .5em .8em;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;

}

#addHabitBtn {
    background-color: #0a1931;
    border: 3px solid #f9f9f9;
    color: #f9f9f9;
}

#addHabitBtn:hover {
    color: #0a1931;
    background-color: #f9f9f9;
    border: 3px solid #0a1931;
    box-shadow: 0px 0px 20px 2px rgba(10, 25, 49, 0.4);
}


/* #todayScheduleBtn:hover {
    color: #f9f9f9;
    background-color: #0a1931;
    box-shadow: 0px 0px 20px 2px rgba(10, 25, 49, 0.4);
} */

.today-sched-light {
    color: #0a1931;
    background-color: #f9f9f900;
    border: 3px solid #0a1931;
}

.today-sched-light:hover {
    color: #f9f9f9;
    background-color: #0a1931;
    box-shadow: 0px 0px 20px 2px rgba(10, 25, 49, 0.4);
}

.today-sched-dark {
    color: #0a1931;
    background-color: #f9f9f9;
    border: 3px solid #f9f9f9;
}

.today-sched-dark:hover {
    color: #f9f9f9;
    background-color: #0a1931;
    border: 3px solid #f9f9f9;
    box-shadow: 0px 0px 20px 2px rgba(114, 126, 146, 0.4);
}

.add-and-schedule-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: clamp(1rem, 5vh, 4rem);
}

.curr-time {
    display: flex;
    align-items: center;
    padding: 0.2em;
    font-size: var(--fs-sm);
    font-weight: bold;
    transition: all 0.3s;
}

.habit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block: 5vh;
    gap: clamp(1rem, 1vmin, 10rem);
}

.habit-card {
    border-radius: 20px;
    box-shadow: 0px 0px 17px rgba(10, 25, 49, 0.2);
    padding: clamp(0.8em, 2vw, 1.8em);
    transition: all 0.3s;
    max-width: 500px;
    /* border: 2px solid #f9f9f9; */
    /* background-image: url('../usedImages/blurry_ball5.svg');
    background-size: cover;
    background-position: center; */
}

.habit-card:hover {
    transform: scale(1.03) translate(0px, -5px);
    box-shadow: 0px 0px 30px rgba(10, 25, 49, 0.4);
    /* border: 2px solid #0a1931; */
}

.habit-title {
    display: flex;
    /* align-items: center; */
    color: #0a1931;
    font-size: var(--fs-md);
    font-weight: bold;
    transition: all 0.2s;
}

.score-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: clamp(.5rem, 2vh, 1rem);
}

.score-cont>h6 {
    font-size: var(--fs-sm);
    padding: .1em;
    transition: all 0.3s;
}

.progress-bar-cont {
    height: .4rem;
    width: 100%;
    margin: 0px .5rem;
    background-color: #e0e0e0;
    border: 1px solid rgba(10, 25, 49, 0.5);
    border-radius: 15px;
    transition: all 0.5s;
}

.progress-bar {
    background-color: #0a1931;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

.habit-card-btns-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habit-card-btns-cont>button {
    background-color: rgba(0, 0, 0, 0);
    font-size: var(--fs-base);
    border: 2px solid #0a1931;
    padding: 0.3em 0.4em;
    border-radius: 30px;
    color: #0a1931;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: .5rem;
}

.habit-card-btns-cont>button:hover {
    color: #fb3636;
    border: 2px solid #fb3636;
    box-shadow: 0px 0px 20px #fb3636;
}

.open-habit-card-link {
    font-size: var(--fs-base);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.3em 0.4em;
    background-color: #0a1931;
    color: #f9f9f9;
    font-weight: 600;
    border-radius: 15px;
    width: 85%;
    border: 3px solid #f9f9f9;
    justify-content: center;
    transition: all 0.4s;
}

.open-habit-card-link:hover {
    color: #0a1931;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.7);
}

.big-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.no-data-title {
    text-align: center;
    margin-block: clamp(6.5rem, 15vmin, 15.5rem);
    font-size: var(--fs-lg);
}

.inline-block {
    display: inline-block;
}

#toggle-theme-btn {
    position: fixed;
    right: 0;
    bottom: 20px;
    font-size: var(--fs-md);
    padding: .4em;
    padding-right: .6em;
    padding-bottom: 0.2em;
    cursor: pointer;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;
    border-width: 2px;
    border-right-width: 0px;
    z-index: 102;
    box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.7);
}


@media (width < 450px) {

    #addHabitBtn>span,
    #todayScheduleBtn>span {
        display: none;
    }

    .main-habits-cont {
        padding: 0;
    }


}