.navbar-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-cont>h2 {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    font-size: var(--fs-xl);
    padding: 0.5em;
    margin: 0px 1.5rem;
    color: #103271;
}

.links-cont {
    margin: 0px 1.5rem;
}

.navbar-cont a span {
    display: flex;
    align-items: center;
}

.links-cont a {
    display: inline-block;
    text-decoration: none;
    font-size: var(--fs-base);
    color: #154ba1;
    font-weight: 700;
    padding: 1.9em 0.9em;
    border-bottom: 4px solid #154ba100;
    transition: all 0.3s;
}

.links-cont a:active {
    transform: scale(0.9);
}

.links-cont a:hover {
    color: #103271;
    border-bottom: 4px solid #103271;
}

.mobile-nav {
    font-size: var(--fs-lg);
    color: #154ba1;
    display: none;
    margin: 0px 0.6rem;
    /* background-color: #0a1931; */
    padding: 1em 0.8em;
    cursor: pointer;
    transition: all 0.6s;
}

.mobile-nav div {
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 27px
}

#signup-btn {
    animation: scale-it 1s infinite;
}

@media (max-width : 596px) {
    .links-cont {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

@media (min-width : 596px) {
    .mobile-nav-cont {
        display: none;
    }
}

@keyframes scale-it {
    0% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(1);
    }

}