.all-incenter{
    display :flex;
    align-items : center;
    justify-content : center;
    width : 100%;
    height: 100vh;
    background-color : #0a1931;
}

.not-found-image{
    width: clamp(220px , 45vmin , 80rem );
}

.not-auth-image{
    width: clamp(220px , 20vmin , 80rem );
}

.all-incenter > div > img{
    display : block;
}

.all-incenter > div > h3{
    display : flex;
    justify-content :center;
    color :#fb3636;
    margin-top : .5rem;
    font-size : var(--fs-lg);
}

.all-incenter > div > span > a {
    text-decoration : none;
    text-transform : capitalize;
    display : flex;
    align-items:center;
    justify-content : center;
    font-weight : bold;
    font-size : var(--fs-base);
    margin-top: 1rem;
    color : #f9f9f990;
    transition : all 0.3s;
}
.all-incenter > div > a {
    text-decoration : none;
    text-transform : capitalize;
    display : flex;
    align-items:center;
    justify-content : center;
    font-weight : bold;
    font-size : var(--fs-base);
    margin-top: 1rem;
    color : #f9f9f990;
    transition : all 0.3s;
}

.all-incenter > div > span{
    display:  inline-block;
}

.all-incenter > div > span > a:hover{
    color : #f9f9f9;
}
.all-incenter > div > a:hover{
    color : #f9f9f9;
}

.not-auth-title{
    display : flex;
    justify-content :center;
    align-items :center;
    color :blue;
    margin-top : .5rem;
    font-size : var(--fs-lg);
}